<launch>

    <arg name="placa"  default="false"/>
    <arg name="zed"    default="false"/>
    <arg name="resolution" default="2"/>
    <arg name="frame_rate" default="10"/>
    <arg name="processar" default="true"/>
    <arg name="gravar" default="false"/>
    <arg name="bag" default=""/>
    <arg name="folder" default="/home/$(env USER)/visao_ws/src/VISAO/ler_tudo_junto/bags"/>



    <!--Vamos ler a placa?-->
    <group if="$(arg placa)">
        <include file="$(find mavros)/launch/px4.launch">
        </include>
    </group>
    <!--Vamos ler a ZED?-->
    <group if="$(arg zed)">
        <include file="$(find zed_wrapper)/launch/zed.launch">
            <param name="resolution" value="$(arg resolution)"/>
            <param name="frame_rate" value="$(arg frame_rate)"/>
        </include>
    </group>

    <!--Aqui o no principal a partir das dependencias-->
    <group if="$(arg processar)">
        <node name="ler_tudo_node" pkg="ler_tudo_junto" type="ler_tudo_junto_node" output="screen">
        </node>
    </group>

    <!--Se for gravar chama o outro arquivo launch do no-->
    <group if="$(arg gravar)">
        <include file="$(find ler_tudo_junto)/launch/gravar.launch">
            <param name="bag" value="$(arg bag)"/>
            <param name="folder" value="$(arg folder)"/>
        </include>
    </group>

</launch>
