<launch>

    <arg name="processar" default="true"/>
    <arg name="bag" default="viagem_rodando_soodom.bag"/>
    <arg name="folder" default="/home/$(env USER)/visao_ws/src/VISAO/ler_tudo_junto/bags"/>
    <arg name="rate" default="0.1"/>

    <!--Repassar as imagens comprimidas no bag-->
    <node pkg="image_transport" type="republish" name="republish_left" output="screen" args="compressed in:=/zed/left/image_rect_color raw out:=/zed/left/image_rect_color"/>
    <node pkg="image_transport" type="republish" name="republish_right" output="screen" args="compressed in:=/zed/right/image_rect_color raw out:=/zed/right/image_rect_color"/>

    <!--Tocar o bag-->
    <node pkg="rosbag" type="play" name="rosbag_play" output="screen" args=" $(arg folder)/$(arg bag) --clock -r $(arg rate) --start=0.0"/>

</launch>
